<%- include ('partials/header.ejs')%>

<%- include ('partials/main_nav.ejs')%>
  

  <!-- Main Content -->
  <main class="container">
    <div class="col-md-12">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h1 class="display-4 text-center">Welcome to the <%= title %> page</h1>
        
      </div>
    </div>
  </main>

  
<%- include ('partials/content.ejs')%>
  
<%- include ('partials/bottom_nav.ejs')%>


<%- include ('partials/footer.ejs')%>